%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      .navbar-brand
        Reddit Like Clone
      .navbar-text
        - if current_user
          = "Signed in as #{current_user.email}"
    .navbar-right
      .btn-group.navbar-btn
        = link_to root_path, class: 'btn btn-default btn-sm' do
          %i.fa.fa-home
          Home
        - if current_user
          = link_to new_link_path, class: 'btn btn-default btn-sm' do
            %i.fa.fa-plus
            New Link
          = link_to '/logout', class: 'btn btn-default btn-sm' do
            %i.fa.fa-sign-out
            Sign Out
