!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RedditLikeClone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render 'shared/errors'
      = render 'shared/navbar'
      - if current_page?('/') && !logged_in?
        = render 'shared/signup_drop'
      = yield
