<!DOCTYPE html>
<html>
<head>
  <title>RedditLikeClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, message| %>
    <div><%= message %></div>
  <% end %>
  <div class="container">
    <%= render 'shared/navbar' %>
    <%= yield %>
  </div>

</body>
</html>
