!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RedditLikeClone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |key, message|
      %div= message
    .container
      = render 'shared/navbar'
      - if current_user
        Signed in as #{current_user.email} | #{link_to 'Sign Out', '/logout'}
      - if current_page?('/')
        = render 'shared/signup_drop'
      = yield
